/* .header_ic1{
    background-image: url(/img/header_ic1.jpg);
} */
.header{
    display: flex;
    justify-content: space-around;
}
.menu{
    display: flex;
}
li{
    padding: 0 20px;
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
}
.header_phon{
    border-left: 1px solid #000;
    padding: 0 34px;
}